-- Migration to add contact fields to job_application table
-- These are used to store snapshots of candidate contact info at time of application

ALTER TABLE job_application ADD COLUMN IF NOT EXISTS email TEXT;
ALTER TABLE job_application ADD COLUMN IF NOT EXISTS phone TEXT;
